.btn {
	&,
	&:link,
	&:visited {
		background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.6rem 2.8rem;
		box-shadow: 0 0.5rem 1rem hsla(0, 93%, 68%, 0.3);
		display: inline-block;
		border-radius: 50px;
		transition: all 0.2s;
		font-size: $default-font-size;
		border-style: none;
		outline: none;
		cursor: pointer;
	}

	&:hover {
		background: linear-gradient(135deg, hsl(0, 80%, 92%), hsl(0, 80%, 86%));
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
	}
}
