.form {
	margin: 4rem 0;
	&__group {
		position: relative;
		display: flex;
		align-items: center;
		width: 44rem;
	}

	&__input {
		border: 0.5px solid $color-primary;
		border-right: hidden;
		border-radius: 24px;
		font-size: 1.5rem;
		color: $color-primary;
		padding: 1.8rem 2rem;
		height: 100%;
		width: 100%;

		&:focus {
			outline: none;
			opacity: 1;
		}

		&:focus:invalid {
			border: 1px solid $color-alert;
		}
	}

	&__button {
		position: absolute;
		right: 0;
	}
}
