.container {
	@include respond(bp900) {
		max-width: 1440px;
		height: 80rem;
		background-image: url('../../assets/images/bg-pattern-desktop.svg') center;
		background-repeat: no-repeat;
		// background-size: cover;
	}
}

.section {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;

	@include respond(bp900) {
		flex-direction: row-reverse;
	}
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-content: center;
}

.flex-between {
	justify-content: space-between;
}
